#title {
	background-image: url('resources/blur.jpg');
	background-size: cover;
	color: white;
}	

.text-border {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}