@use 'styles/breakpoints';
@use 'styles/colors';
@use 'styles/font';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  // Allows overflow scroll in flexbox
  // See https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content#comment125588592_35609992
  min-height: 300px;
  font-size: font.$label-font-size;

  @include breakpoints.breakpoint-up(sm) {
    font-size: font.$body-font-size;
  }
}

.predictionContainer {
  background-color: colors.$surface-variant;
  color: colors.$on-surface-variant;
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 8px 10px;
}

.evaluationContainer {
  background-color: colors.$surface-variant;
  color: colors.$on-surface-variant;
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 8px 10px;
}

.playersLabelContainer {
  display: flex;
  background-color: colors.$surface-variant;
  color: colors.$on-surface-variant;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid colors.$outline;
  padding: 8px 10px;
}

.playerOneLabel {
  flex: 1;
}

.playerTwoLabel {
  flex: 1;
}

.movesContainer {
  display: flex;
  flex: 1;
  background-color: colors.$surface-variant;
  color: colors.$on-surface-variant;
  border-radius: 0 0 5px 5px;
  padding: 8px 12px;
  overflow-y: auto;
}

.playerOneMovesContainer {
  flex: 1;
  margin-bottom: 50px;
}

// Adds 'padding' to bottom of scroll content
.playerOneMovesContainer > :last-child {
  margin-bottom: 8px;
}

.playerTwoMovesContainer {
  flex: 1;
  padding-bottom: 50px;
}

.moveText {
}
