@use "scss/breakpoints";
@use "scss/colors";
@use "scss/font";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
  position: relative;
}

.header {
  font-size: font.$display-font-size;
}

.headerBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.headerBackground {
  background: url('/assets/landscape-forest.jpg'), rgba(colors.$surface-variant-rgb, 0.8);
  background-blend-mode: color;
  background-size: cover;
  filter: blur(30px);
  width: 120%;
  height: 120%;
  transform: translateX(-10%) translateY(-10%);
  animation: fadeIn 0.3s;
}

.contentContainer {
  margin: 50px 0;

  @include breakpoints.breakpoint-up(md) {
    display: flex;
    flex-direction: row-reverse; // Row reverse so contents is navigationally before the article contents
  }
}

.contentsTable {
  padding-right: 10px;
}

.articleContainer {
  flex-basis: breakpoints.$md;
  margin: 0 20px;

  @include breakpoints.breakpoint-up(sm) {
    margin: 0 40px;
  }
}

.articleContainer p {
  margin: 1.5em 0;
  line-height: 1.5;
}

.articleContainer p:first-child {
  margin-top: 0;
}

.articleContainer h2 {
  margin: 1em 0 0.5em;
}

.articleContainer sup {
  vertical-align: top;
  padding-left: 2px;
  position: relative;
  top: -0.2em;
}

// Targets references section
.articleContainer ol li p {
  margin: 0;
}

.articleSideContainer {
  display: none;

  @include breakpoints.breakpoint-up(md) {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
  }
}
