@use 'styles/breakpoints';
@use 'styles/colors';
@use 'styles/font';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.boardContainer {
  display: flex;
  justify-content: center;
  padding: 10px;

  @include breakpoints.breakpoint-up(md) {
    padding: 20px;
  }
}

.board {
  width: 100vh;
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 10px 0;
}

.button {
  margin: 5px 10px;
  white-space: nowrap;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loader 1250ms infinite linear;
  border: 1px solid colors.$on-surface;
  border-right-color: transparent;
  border-radius: 32px;
  right: -38px;
  top: 6px;
  position: absolute;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
