@use 'styles/breakpoints';
@use 'styles/colors';
@use 'styles/font';

.gameContainer {
  display: flex;
  flex-direction: column;

  @include breakpoints.breakpoint-up(sm) {
    flex-direction: row;
  }

  border: 5px solid green;
}

.boardContainer {
  display: flex;
  flex: 2;
  max-width: 90vh;

  border: 5px solid yellow;
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  border: 5px solid red;
}

.button {
  margin: 5px 5px;
  white-space: nowrap;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  border: 5px solid blue;

  @include breakpoints.breakpoint-up(sm) {
    flex: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loader 1250ms infinite linear;
  border: 1px solid colors.$on-surface;
  border-right-color: transparent;
  border-radius: 32px;
  right: -38px;
  top: 6px;
  position: absolute;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
