@use "scss/colors";

/**
 * Sets background to `background-color` blended with an `opacity` adjusted `content-rgb`.
 * `content-rgb` is animatable on the `background-color` property.
 */
@mixin background-blend($background-color, $content-rgb, $opacity) {
  // Goal is background layer with transluscent layer on top that allows transitions
  // between different trasluscent layers.

  // Intuitively, `background-color` should be set as background-color property and
  // content-rgb can be set to a flat gradient, which appears on top. However, gradients
  // are not animatable. Therefore, `background-color` is set as the flat gradient while
  // `content-rgb` with `opacity` is set as background's color, and blend mode is set
  // so they blend.
  background-blend-mode: multiply;
  background-color: rgba($content-rgb, $opacity);
  background-image: linear-gradient(0, $background-color, $background-color);
}

.container {
  align-items: center;
  border: none;
  border-radius: 1.5em;
  color: colors.$on-primary;
  cursor: pointer;
  display: inline-flex;
  padding: 0.5em 1em;
  text-decoration: none;
  white-space: nowrap;
}
.container:focus-visible {
  // Disables possible browser default shadow and outline for focus-visible
  box-shadow: none;
  outline: none;
}

.filled {
  @include background-blend(colors.$primary, colors.$on-primary-rgb, 0);
  transition: background-color 0.1s;
}
.filled:focus-visible {
  border: 2px solid colors.$on-surface;
  margin: -1px;
  padding: calc(0.5em - 1px) calc(1em - 1px);
}
.filled:hover {
  @include background-blend(colors.$primary, colors.$on-primary-rgb, colors.$hover-opacity);
}
.filled:active {
  @include background-blend(colors.$primary, colors.$on-primary-rgb, colors.$pressed-opacity);
}

.outline {
  @include background-blend(transparent, colors.$on-primary-rgb, 0);
  border: 1px solid colors.$outline;
  padding: calc(0.5em - 1px) calc(1em - 1px);
  transition: background-color 0.1s;
}
.outline:focus-visible {
  border: 2px solid colors.$on-surface;
  margin: -1px;
}

.text {
  @include background-blend(transparent, colors.$on-primary-rgb, 0);
  transition: background-color 0.1s;
}
.text:focus-visible {
  border: 2px solid colors.$on-surface;
  margin: -1px;
  padding: calc(0.5em - 1px) calc(1em - 1px);
}

.outline:hover, .text:hover {
  @include background-blend(transparent, colors.$on-primary-rgb, colors.$hover-opacity);
}
.outline:active, .text:active {
  @include background-blend(transparent, colors.$on-primary-rgb, colors.$pressed-opacity);
}
