@use "scss/theme";

// Height of button
$heights: 20px, 26px, 26px, 34px;
$heights-md: 30px, 40px, 40px, 60px;

// Horizontal padding of button
$paddings: 10px, 13px, 13px, 16px;
$paddings-md: 15px, 18px, 18px, 28px;

%border { border: 1px solid theme.$grey-accent; }

// Need to be mixin vs placeholder class because it's used in media query
@mixin highlight {
	border-color: theme.$blue-primary;
	color: theme.$blue-primary;
	background: rgba(theme.$blue-accent, 0.1);
}