@use "scss/colors";

.container {
  display: inline-block;
  position: relative;
}

.dropdownContainer {
  background-color: colors.$surface;
  border: 1px solid colors.$outline;
  border-radius: 1em;
  margin: 0; // Gets rid of list margin
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  z-index: 1;
}

.listItem {
  list-style: none; // Gets rid of list bullet points
}

.option {
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}

// Apply hover styling to focused options
.option:focus-visible {
  border: none;
  box-shadow: none;
  background: linear-gradient(
    0,
    rgba(colors.$on-primary-rgb, colors.$hover-opacity),
    rgba(colors.$on-primary-rgb, colors.$hover-opacity)
  ), colors.$surface;
  margin: 0;
  padding: 0.5em 1em;
}

.option:active {
  border: none;
  box-shadow: none;
  background: linear-gradient(
    0,
    rgba(colors.$on-primary-rgb, colors.$pressed-opacity),
    rgba(colors.$on-primary-rgb, colors.$pressed-opacity)
  ), colors.$surface;
  margin: 0;
  padding: 0.5em 1em;
}

.icon {
  margin-left: 0.33em;
  margin-right: -0.17em;
}
