@use "scss/colors";

.container {
  display: inline-block;
  position: relative;
}

.button {
  align-items: center;
  display: inline-flex;
}

.dropdownContainer {
  background-color: colors.$surface;
  border: 1px solid colors.$outline;
  border-radius: 6px;
  margin: 0; // Gets rid of list margin
  overflow: hidden;
  padding: 0; // Gets rid of list bullet point padding
  position: absolute;
  z-index: 1;
}

.listItem {
  list-style: none; // Gets rid of list bullet points
}

.option {
  align-items: center;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-flex;
  text-align: start;
  width: 100%;
}

// Apply hover styling to focused options
.option:focus {
  border: none;
  box-shadow: none;
  background: linear-gradient(
    0,
    rgba(colors.$on-primary-rgb, colors.$hover-opacity),
    rgba(colors.$on-primary-rgb, colors.$hover-opacity)
  ), colors.$surface;
  margin: 0;
}

.option:active {
  border: none;
  box-shadow: none;
  background: linear-gradient(
    0,
    rgba(colors.$on-primary-rgb, colors.$pressed-opacity),
    rgba(colors.$on-primary-rgb, colors.$pressed-opacity)
  ), colors.$surface;
  margin: 0;
}

.icon {
  margin-left: 6px;
  margin-right: -3px;
}
