@use "styles/colors";
@use "styles/font";

.title {
  font-size: font.$body-font-size;
  margin-left: font.$label-font-size;
  margin-bottom: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  border: 1px solid transparent;
  margin: -1px;
  font-size: font.$label-font-size;
  transition: background-color 0.1s, border-color 0.2s;
}

.button:not([aria-current="false"]):not(:focus-visible), .button:active:not([aria-current="false"]) {
  border: 1px solid colors.$on-surface;
  margin: 0px;
  padding: calc(0.5em - 1px) calc(1em - 1px);
}
