@use "styles/breakpoints";
@use "styles/colors";
@use "styles/font";

.list {
  background-color: colors.$surface;
  color: colors.$on-surface;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.title {
  flex: 1;
}

.button {
  font-size: font.$body-font-size;
  min-height: 2.5em;
}
