// Import all required scss files. Base is imported at the top level of the app,
// making the defined classes available app wide.
@use "scss/breakpoints";
@use "scss/theme";
@use "scss/flex";
@use "scss/alignment";
// @use "scss/margins";
@use "scss/utilities";
@use "scss/images";
@use "scss/dimension";

/*
Make default display flex, wrap, and padding + border be included in width and height

By default:
  Items display in a row (the flex-direction property's default is row).
  The items start from the start edge of the main axis.
  The items do not stretch on the main dimension, but can shrink.
  The items will stretch to fill the size of the cross axis.
  The flex-basis property is set to auto.
  The flex-wrap property is set to nowrap. (overwritten below to wrap for all div)
From https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox#the_flex_container
*/
div {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  @extend %text-primary;
  margin: 0;
  background-color: white;
  image-rendering: -webkit-optimize-contrast;
}