/*
Convenience css classes that define width, height, max width, and max height percentage
in general and at specific breakpoints and up.

Classes follow the structure .{class}-{dim}-{breakpoint}, where {} are replaced with a
correct name, and -{breakpoint} is optional. {dim} represents percent.

{class} is one of width, height, max-width, max-height
{dim} is one of 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
{breakpoint} is one of sm, md, lg, xl

ex. // myComponent.js
    export default MyComponent {
			return (
				<div className={`width-100 width-80-sm`}>
					My Sample Text
				</div>
			)
		}
*/
@use "scss/theme";
@use "scss/breakpoints";

$dims: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $dim in $dims {
	.width-#{$dim} { width: $dim * 1%; }
	.height-#{$dim} { height: $dim * 1%; }
	.max-width-#{$dim} { max-width: $dim * 1%; }
	.max-height-#{$dim} { max-height: $dim * 1%; }
}

@each $breakpoint, $value in breakpoints.$breakpoints {
	@each $dim in $dims {
		@include breakpoints.breakpoint-up($breakpoint) {
			.width-#{$dim}-#{$breakpoint} { width: $dim * 1%; }
			.height-#{$dim}-#{$breakpoint} { height: $dim * 1%; }
			.max-width-#{$dim}-#{$breakpoint} { max-width: $dim * 1%; }
			.max-height-#{$dim}-#{$breakpoint} { max-height: $dim * 1%; }
		}
	}
}