// Circular logos
%bg-logo {
	background-color: lightgray;
	background-size: cover;
  border-radius: 50%;
}

.logoUWAerial {
	@extend %bg-logo;
	background-color: white;
	background-image: url('/assets/UW-aerial.jpg');
}

.logoPassionfruit {
	@extend %bg-logo;
	background-color: white;
	background-image: url('/assets/passionfruit-icon.png');
}

// Plain url images
.imageFloodItGrid {
	background-image: url('/assets/flood-it-grid.png');
	background-repeat: no-repeat;
}

.imageConnectFour {
	background-image: url('/assets/connect-four.png');
	background-repeat: no-repeat;
}