// Import all required scss files. Base is imported at the top level of the app,
// making the defined classes available app wide.
@use "./alignment";
@use "./breakpoints";
@use "./colors";
@use "./dimension";
@use "./flex";
@use "./font";
@use "./images";
@use "./theme";
@use "./utilities";


// Apply border box sizing to everything
// See https://stackoverflow.com/questions/51447962/to-apply-border-box-in-all-css-rules
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: colors.$surface;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{colors.$theme-primary-color};
  --on-primary-color: #{colors.$theme-on-primary-color};
  --secondary-color: #{colors.$theme-secondary-color};
  --on-secondary-color: #{colors.$theme-on-secondary-color};
  --surface-color: #{colors.$theme-surface-color};
  --on-surface-color: #{colors.$theme-on-surface-color};
  --surface-variant-color: #{colors.$theme-surface-variant-color};
  --on-surface-variant-color: #{colors.$theme-on-surface-variant-color};
  --outline-color: #{colors.$theme-outline-color};
}
