/*
TODO: move margin scss from theme.scss into this file.
*/

/*
@use "sass:list";
@use "scss/breakpoints";
@use "scss/theme";

// For each margin
@each $margin in theme.$margins {
	$i: index(theme.$margins, $margin);
	$i: $i - 1;

	// Define margin classes
	.margin-#{$i} { margin: $margin }
	.margin-left-#{$i} { margin-left: $margin; }
	.margin-vert-#{$i} { margin-top: $margin; margin-bottom: $margin; }
	.margin-horz-#{$i} { margin-left: $margin; margin-right: $margin; }
	.margin-right-#{$i} { margin-right: $margin; }
	.margin-top-#{$i} { margin-top: $margin; }
	.margin-bottom-#{$i} { margin-bottom: $margin; }

	// Define padding classes
	.padding-#{$i} { padding: $margin }
	.padding-left-#{$i} { padding-left: $margin; }
	.padding-vert-#{$i} { padding-top: $margin; padding-bottom: $margin; }
	.padding-horz-#{$i} { padding-left: $margin; padding-right: $margin; }
	.padding-right-#{$i} { padding-right: $margin; }
	.padding-top-#{$i} { padding-top: $margin; }
	.padding-bottom-#{$i} { padding-bottom: $margin; }
}

// For each breakpoint
@each $breakpoint, $value in breakpoints.$breakpoints {
	// For each margin
	@each $margin in theme.$margins {
		$i: index(theme.$margins, $margin);
		$i: $i - 1;

		@include breakpoints.breakpoint-up($breakpoint) {
			// Define breakpoint margin classes
			.margin-#{$i}-#{$breakpoint} { margin: $margin }
			.margin-left-#{$i}-#{$breakpoint} { margin-left: $margin; }
			.margin-vert-#{$i}-#{$breakpoint} { margin-top: $margin; margin-bottom: $margin; }
			.margin-horz-#{$i}-#{$breakpoint} { margin-left: $margin; margin-right: $margin; }
			.margin-right-#{$i}-#{$breakpoint} { margin-right: $margin; }
			.margin-top-#{$i}-#{$breakpoint} { margin-top: $margin; }
			.margin-bottom-#{$i}-#{$breakpoint} { margin-bottom: $margin; }
			// Define breakpoint padding classes
			.padding-#{$i}-#{$breakpoint} { padding: $margin }
			.padding-left-#{$i}-#{$breakpoint} { padding-left: $margin; }
			.padding-vert-#{$i}-#{$breakpoint} { padding-top: $margin; padding-bottom: $margin; }
			.padding-horz-#{$i}-#{$breakpoint} { padding-left: $margin; padding-right: $margin; }
			.padding-right-#{$i}-#{$breakpoint} { padding-right: $margin; }
			.padding-top-#{$i}-#{$breakpoint} { padding-top: $margin; }
			.padding-bottom-#{$i}-#{$breakpoint} { padding-bottom: $margin; }
		}
	}
}
*/