// Based off Material Design 3 typography scale (https://m3.material.io/styles/typography/type-scale-tokens).
// For the meaning of each prefix, and deciding when to use each size, see
// https://m3.material.io/styles/typography/applying-type
// and https://stackoverflow.com/questions/30445585/material-design-typography-headlines-titles-spacing-text-appearance/31040586#31040586
$display-font-size: 6rem;
$headline-lg-font-size: 3.25rem;
$headline-md-font-size: 2.5rem;
$headline-sm-font-size: 2rem;
$title-lg-font-size: 1.75rem;
$title-md-font-size: 1.5rem;
$title-sm-font-size: 1.25rem;
$body-font-size: 1.125rem;
$label-font-size: 1rem;
