// Global styles is imported app wide.
@use "./breakpoints";
@use "./colors";
@use "./font";

// Apply border box sizing to everything
// See https://stackoverflow.com/questions/51447962/to-apply-border-box-in-all-css-rules
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  // Font family is handled by nextjs in pages/_app.tsx
  font-size: font.$body-font-size;
  font-weight: 400;
  color: colors.$on-surface;

  background-color: colors.$surface;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: scroll;
} 

:root {
  --primary-color: #{colors.$theme-primary-color};
  --on-primary-color: #{colors.$theme-on-primary-color};
  --secondary-color: #{colors.$theme-secondary-color};
  --on-secondary-color: #{colors.$theme-on-secondary-color};
  --surface-color: #{colors.$theme-surface-color};
  --on-surface-color: #{colors.$theme-on-surface-color};
  --surface-variant-color: #{colors.$theme-surface-variant-color};
  --on-surface-variant-color: #{colors.$theme-on-surface-variant-color};
  --outline-color: #{colors.$theme-outline-color};
}

// Assumes only h1-h4 will be used
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: font.$headline-lg-font-size;
  font-weight: 450;
}

h2 {
  font-size: font.$headline-md-font-size;
  font-weight: 450;
}

h3 {
  font-size: font.$headline-sm-font-size;
  font-weight: 450;
}

h4 {
  font-size: font.$title-md-font-size;
  font-weight: 450;
}

button {
  font: inherit;
}
